# Build files
/build
/cmake-build-debug

# Linter
.clang-tidy

# IDE files
.idea
.vscode
.cache

# Log files
*.log
catalog.txt

# Env files
*.env

# App state files
*.ini

# AI files
.claude

# Other
# docker-compose.yml is user-specific. it's available in the README
docker-compose.yml